<!doctype html>
<title>{% block title %}{% endblock %} - BeerMe</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
  <h1><a class="menu_bar" href="{{ url_for('checkin.log_beer') }}">BeerMe</a></h1>
  <ul>
    {% if g.user %}
    <li><span class="welcome_user_menu">Welcome {{ g.user['username'] }}!</span>
    <li><a class="menu_bar" href="{{ url_for('stats.get_stats') }}">Stats</a>
    <li><a class="menu_bar" href="{{ url_for('checkin.log_beer') }}">Log Beer</a>
    <li><a class="menu_bar" href="{{ url_for('auth.logout') }}">Log Out</a>
      {% else %}
    <li><a class="menu_bar" href="{{ url_for('auth.register') }}">Register</a>
    <li><a class="menu_bar" href="{{ url_for('auth.login') }}">Log In</a>
      {% endif %}
  </ul>
</nav>
<section class="content">
  {% for message in get_flashed_messages() %}
  <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>