{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Check in beer{% endblock %}</h1>
{% endblock %}

{% block content %}
<form method="post">
  <!-- BEER NAME -->
  <label for="BEER_NAME">Beer Name</label>
  <input name="BEER_NAME" id="beer" required>

  <!-- BEER TYPE -->
  <label for="BEER_TYPE">Type of beer</label>
  <input name="BEER_TYPE" list="BEER_TYPE" id="beer_type">
  <datalist id="BEER_TYPE">
    <option value="N/A"></option>
    <option value="Ale"></option>
    <option value="Lager"></option>
    <option value="Porter"></option>
    <option value="Stout"></option>
    <option value="Amber Ale"></option>
    <option value="Blonde ale"></option>
    <option value="Brown ale"></option>
    <option value="Pale ale"></option>
    <option value="Indian Pale Ale"></option>
    <option value="Wheat"></option>
    <option value="Pilsner"></option>
    <option value="Sour Ale"></option>
  </datalist>
  </input>

  <!-- BREWERY -->
  <label for="BREWERY_NAME">Brewery</label>
  <input name="BREWERY_NAME" list="BREWERY_NAME" id="brewery">
  <datalist id="BREWERY_NAME">
    {% for brewery in brewery_list %}
    <option value="{{brewery}}"></option>
    {% endfor %}
  </datalist>
  </input>

  <!-- RATING -->
  <label for="BEER_RATING">Rating</label>
  <script>
    function outputUpdate(vol) {
      document.querySelector('#rating').value = vol;
    }
  </script>
  <input type="range" name="BEER_RATING" min="0" max="5" value="3" id="BEER_RATING" step="0.25" oninput="outputUpdate(value)" required>
  <output for="BEER_RATING" id="rating">3</output>
  <br>
  <input type="image" src="../../static/beer.png" alt="Check-in Beer" width="48" height="48">

</form>
{% endblock %}