{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Check in beer{% endblock %}</h1>
{% endblock %}

{% block content %}
<form method="post">
  <label for="BEER_NAME">Beer Name</label>
  <input name="BEER_NAME" id="beer" required>
  <label for="BEER_TYPE">Type of beer</label>
  <input list="BEER_TYPE" id="type">
  <datalist id="BEER_TYPE">
    <option value="N/A"></option>
    <option value="Ale"></option>
    <option value="Lager"></option>
    <option value="Porter"></option>
    <option value="Stout"></option>
    <option value="Amber Ale"></option>
    <option value="Blonde ale"></option>
    <option value="Brown ale"></option>
    <option value="Pale ale"></option>
    <option value="Indian Pale Ale"></option>
    <option value="Wheat"></option>
    <option value="Pilsner"></option>
    <option value="Sour Ale"></option>
  </datalist>
  </input>
  <label for="BREWERY_NAME">Brewery</label>
  <input name="BREWERY_NAME" id="BREWERY_NAME" required>
  <label for="BEER_RATING">Rating</label>
  <input name="BEER_RATING" id="BEER_RATING" required>
  <input type="image" src="../../static/beer.png" alt="Check-in Beer" width="48" height="48">
</form>
{% endblock %}